body {
  background-color: white;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

.title{
  padding-right: 50px;
}

#myCanvas {
  border: 5px solid rgb(167, 94, 57);
  border-radius: 25px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  padding-top: 20px;
}

.pic{
  height: 600px;
  width: 400px;
  object-fit: cover;
  border: 1px solid black;
}


h2, h3, p{
  color: rgb(176, 78, 56);
  font-family: 'mansalva';
}

#start{
  text-align: left;
}

#end{
  text-align: right;
  background-color: rgb(255, 208, 168);
   border-radius: 25px;
}